:root {

    --vp-c-brand-1: #FA5591;
    --vp-c-brand-2: #AD3260;
    --vp-c-brand-next: #89F56F;

    /* main text */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient( 
        120deg,
        var(--vp-c-brand-1) 30%,
        var(--vp-c-brand-next)
    );
  
    /* start "blob" behing main logo */
    --vp-home-hero-image-background-image: linear-gradient( 
        -45deg,
        var(--vp-c-brand-1) 30%,
        var(--vp-c-brand-next)
    );
    --vp-home-hero-image-filter: blur(120px);

    /* main button */
    --vp-button-brand-bg: var(--vp-c-brand-1);
    /* --vp-button-brand-border: var(--vp-c-brand-1); */

    --vp-button-brand-hover-bg: var(--vp-c-brand-2);
    /* --vp-button-brand-hover-border: var(--vp-c-brand-light); */
  }

.image-container:hover .image-bg {
    opacity: .4;
}

.image-bg{
    transition: opacity 1s ease;
}

.team-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.VPTeamMembers a.VPSocialLink{
    color: var(--vp-c-brand-1);
}